In [2]:
import pandas as pd
import numpy as np

# index.get_loc()
 - 특정 인덱스의 위치를 알려주는 함수

**Example**

In [75]:
df = pd.DataFrame()
df['num'] = np.random.randint(0,10, size=(20,))
df['cat'] = np.random.choice(['A','B','C'], 20)
df.index = np.random.choice(['N','Y'], 20)

In [76]:
df.head()

   num cat
N    4   A
N    4   A
N    2   B
N    0   C
N    8   B

**인덱스가 고유하면 해당 인덱스 위치가 출력**

In [77]:
df['num'].value_counts()

4    5
8    4
0    3
9    2
2    2
7    1
6    1
5    1
1    1
Name: num, dtype: int64

In [80]:
df['num'].value_counts().index.get_loc(8)

1

**인덱스가 중복되면 값이 True, False인 list형태로 출력**

In [81]:
df.index.get_loc('N')

array([ True,  True,  True,  True,  True,  True,  True, False, False,
        True,  True, False, False,  True, False,  True, False, False,
       False, False])

In [82]:
# 특정 인덱스만 불러와서 전처리 가능
#
df.loc[df.index.get_loc('N'),'cat'] = 0
df.loc[~df.index.get_loc('N'),'cat'] = 1
df

   num  cat
N    4    0
N    4    0
N    2    0
N    0    0
N    8    0
N    6    0
N    0    0
Y    8    1
Y    4    1
N    2    0
N    8    0
Y    5    1
Y    7    1
N    4    0
Y    9    1
N    0    0
Y    1    1
Y    4    1
Y    8    1
Y    9    1