In [1]:
import pandas as pd
import numpy as np

# np.triu, np.tril
- np.triu : 매트릭스의 대각선 위쪽만 복사, 아래쪽은 0
- np.tril : 매트릭스의 대각선 아래쪽만 복사, 위쪽은 0

### 인자
- k : k번째 대각선

In [40]:
np.tril(np.ones((5,5)), k=0)

array([[1., 0., 0., 0., 0.],
       [1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0.],
       [1., 1., 1., 1., 1.]])

In [42]:
np.tril(np.ones((5,5)), k=1)

array([[1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 0.],
       [1., 1., 1., 1., 0.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

**Example**
[(예시 링크)](https://chrisalbon.com/machine_learning/feature_selection/drop_highly_correlated_features/)
- correlation matrix에 활용하면 쉽게 상관관계가 높은 변수를 제거할 수 있다.

In [19]:
X = np.array([[1, 1, 1, 1, 1],
              [2, 2, 0, 2, 0],
              [3, 3, 1, 3, 1],
              [4, 4, 0, 5, 0],
              [5, 5, 1, 5, 1],
              [6, 6, 0, 6, 0],
              [7, 7, 1, 7, 1],
              [8, 7, 0, 8, 0],
              [9, 7, 1, 9, 1]])

In [20]:
df = pd.DataFrame(X)

In [21]:
# Create correlation matrix
corr_matrix = df.corr().abs()

# Select upper triangle of correlation matrix
upper = np.ones(corr_matrix.shape)
upper = np.triu(upper, k=1) # 대각선 아래쪽은 0
upper = upper.astype(np.bool) # 대각선 아래쪽은 False
upper = corr_matrix.where(upper) # 대각선 아래쪽은 NaN

# Find index of feature columns with correlation greater than 0.95
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]

In [26]:
corr_matrix

          0         1         2         3         4
0  1.000000  0.976103  0.000000  0.992567  0.000000
1  0.976103  1.000000  0.034503  0.971864  0.034503
2  0.000000  0.034503  1.000000  0.048564  1.000000
3  0.992567  0.971864  0.048564  1.000000  0.048564
4  0.000000  0.034503  1.000000  0.048564  1.000000

In [27]:
upper # 대각선 아래는 NaN인 것을 볼 수 있다.

    0         1         2         3         4
0 NaN  0.976103  0.000000  0.992567  0.000000
1 NaN       NaN  0.034503  0.971864  0.034503
2 NaN       NaN       NaN  0.048564  1.000000
3 NaN       NaN       NaN       NaN  0.048564
4 NaN       NaN       NaN       NaN       NaN

In [24]:
to_drop

[1, 3, 4]

In [28]:
# Drop features 
df.drop(df[to_drop], axis=1)

   0  2
0  1  1
1  2  0
2  3  1
3  4  0
4  5  1
5  6  0
6  7  1
7  8  0
8  9  1